/* Greg Conan
   The Fallacies of Faith
   Created 2019-05-06
   Last Updated 2019-10-02 */

$mdc-shape-small-component-radius: 4px;
$mdc-shape-medium-component-radius: 4px;
$mdc-shape-large-component-radius: 0px;

/* ======================================
   Sidebar
====================================== */

#navbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	z-index: 12;
	top: 0;
	background-color: white;
	left: 0;
	right: auto;
	position: fixed;
	width: 100%;
	text-align: center;
	border:
}

#navbar.titleText {
	font-weight: bold;
	color: #FFFFFF;
	font-family: sans-serif;
}

/* ======================================
   Sidebar
====================================== */

#sidebar {
	color: white;
	background-color: #222222;
	height: 100%;
	position: fixed;
	width: 400px;
	top: 0;
	left: 0;
	z-index: 10;
	font-family: sans-serif;
}

.titleText {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	border-radius: 15px; 
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}

.red {
	background-image: linear-gradient(to right, red, black);	
}

.blue {
	background-image: linear-gradient(to right, blue, black);	
}

.green {
	background-image: linear-gradient(to right, #7FFF00, black);	
}

.level1 {
	width: 400px;
}

.level2 {
	position: relative;
	left: 25px;
	width: 375px;
	display: none;
}

.level3 {
	position: relative;
	left: 50px;
	width: 350px;
	display: none;
}

.headerText {
	display: block;
	line-height: 2px;
	font-size: 16px;
	position: relative;
	left: 10px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: sans-serif;

	/* Black border around text */
	text-shadow: 1px 1px 0 #000,
				-1px 1px 0 #000,
				1px -1px 0 #000,
				-1px -1px 0 #000,
				0px 1px 0 #000,
				0px -1px 0 #000,
				-1px 0px 0 #000,
				1px 0px 0 #000,
				2px 2px 0 #000,
				-2px 2px 0 #000,
				2px -2px 0 #000,
				-2px -2px 0 #000,
				0px 2px 0 #000,
				0px -2px 0 #000,
				-2px 0px 0 #000,
				2px 0px 0 #000,
				1px 2px 0 #000,
				-1px 2px 0 #000,
				1px -2px 0 #000,
				-1px -2px 0 #000,
				2px 1px 0 #000,
				-2px 1px 0 #000,
				2px -1px 0 #000,
				-2px -1px 0 #000;	
}

#sidebar.headerText {
	text-align: left;
}

.headerBr {
	display: block;
	margin: 1px 0;
}


/* ======================================
   Content
====================================== */

p {
	font-family: georgia;
}

.content {
	font-family: georgia;
	position: relative;
	left: 450px;
	max-width: 1000px;
	right: 8%;
	font-size: 25px;
	line-height: 1.3;
	z-index: 3;
}

img {
	display: block;
	max-width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.summary {
	background-image: linear-gradient(to right, #EEC1FF, white);
	border-style: solid;
	border-radius: 15px; 
	list-style-position: inside;
	margin: 10px;
	cursor: pointer;
	padding: 10px;
	font-weight: bold;
	font-family: sans-serif;
}

.full {
	position: relative;
	left: -1em;
}


/* ======================================
   Citations/Footnotes
====================================== */

.note {
	display: inline-block; 
	color: blue;
	font-weight: bold;
	cursor: pointer;
	z-index: 4;
	
	/* Superscript */
	vertical-align: super;
	font-size: 0.5em;
}

.note .notetext {
	font-weight: normal;
	color: black;
	display: none;
	font-size: 1.75em;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	background-image: linear-gradient(to right, #73CBFE, white);
	position: absolute;
	min-width: 300px;
	z-index: 5;
}

.note:onclick .notetext {
	display: block;
}