/* Greg Conan
   The Fallacies of Faith
   Created 2019-05-06
   Last Updated 2020-01-11 */

/* ======================================
   Sidebar
====================================== */

#navbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	z-index: 12;
	top: 0;
	background-color: white;
	left: 0;
	right: auto;
	position: fixed;
	width: 100%;
	text-align: center;
}

#navbar.titleText {
	font-weight: bold;
	color: #FFFFFF;
	font-family: sans-serif;
}

/* ======================================
   Content
====================================== */

p {
	font-family: georgia;
}

#menu {
	word-wrap: break-word;
	border-collapse: "collapse";
	padding: 0 0;
}

#menu tr td {
	height: 5em;
	width: 10em;
	padding: 0 0;
}

.outsideText {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	left: auto;
	right: auto;
}

.content {
	font-family: georgia;
	position: relative;
	left: 450px;
	max-width: 1000px;
	right: 8%;
	font-size: 25px;
	line-height: 1.3;
	z-index: 3;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.summary {
	background-image: linear-gradient(to right, #EEC1FF, white);
	border-style: solid;
	border-radius: 15px; 
	list-style-position: inside;
	margin: 10px;
	cursor: pointer;
	padding: 10px;
	font-weight: bold;
	font-family: sans-serif;
}

.full {
	position: relative;
	left: -1em;
}

/* ======================================
   Citations/Footnotes
====================================== */

.note {
	display: inline-block; 
	color: blue;
	font-weight: bold;
	cursor: pointer;
	z-index: 4;
	
	/* Superscript */
	vertical-align: super;
	font-size: 0.5em;
}

.note .notetext {
	font-weight: normal;
	color: black;
	display: none;
	font-size: 1.75em;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	background-image: linear-gradient(to right, #73CBFE, white);
	position: absolute;
	min-width: 300px;
	z-index: 5;
}

.note:onclick .notetext {
	display: block;
}